name: Deploy Ghost and Generate Static Site

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      ghost:
        image: ghost:alpine
        options: -v ${{ github.workspace }}/content/:/var/lib/ghost/content
        ports:
          - 3001:2368
    steps:
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: "30s"
      - name: Curl
        run: curl http://localhost:3001/
