name: Deploy Ghost and Generate Static Site

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      ghost:
        image: ghost:alpine
        ports:
          - 3001:2368
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Curl
        run: curl http://localhost:3001/
